# Visual Studio
.vscode/
*.user
*.suo
*.vcxproj.user
*.ncb
*.aps
*.opendb
*.VC.db
*.VC.VC.opendb

# Build
Debug/
Release/
x64/
*.exe
*.obj
*.ilk
*.pdb
*.log
*.idb
*.ipch
*.tlog

# Arquivos de output do vcpkg
.vcpkg-*

# Ficheiros temporários
*.tmp
*.log
*.cache
*.db

# Backup
*~
*.bak

# Sistema
Thumbs.db
Desktop.ini

# Ficheiros zipados de release
*.zip
