# Normalizar texto como LF no repositório, mas converter para CRLF no Windows
* text=auto

# Tratamento de ficheiros C/C++
*.c     text
*.cpp   text
*.h     text
*.hpp   text

# Evita diffs de ficheiros binários
*.exe   binary
*.dll   binary
*.lib   binary
*.pdb   binary
*.png   binary
*.jpg   binary
*.zip   binary
